VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_SENTIMENT_API_BASE_URL=http://127.0.0.1:5000/api/sentiment
VITE_FIREBASE_API_KEY=AIzaSyCBxg_qHZJmhf9urzbCZWze1GfoJcaXdR8
VITE_FIREBASE_AUTH_DOMAIN=movie-trailer-analyzer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=movie-trailer-analyzer
VITE_FIREBASE_STORAGE_BUCKET=movie-trailer-analyzer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=715993570222
VITE_FIREBASE_APP_ID=1:715993570222:web:ab3ee531b7682d909f063f
VITE_FIREBASE_MEASUREMENT_ID=G-QNCMPR4EGP
